
@{
    ViewData["Title"] = "List Customers";
    Layout = "~ /View/shared/_Layout.cshtml";
}

<h1>List Customers</h1>
<div class="container p-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> Listo Customers</h2>
      </div>
    </div>
    <div class="col-6">
        <a  asp-action="create" class="btn btn-success text-white">Create Customer</a>

    </div>
</div>

